<div class="container">
    <h1 class="title">Order</h1>
    <div class="stock-entry-wrap mat-elevation-z8">
        <div class="stock-entry-controller">
            <div class="row">
                <div class="col-lg-6">
                    <label for="date">Date</label>
                    <input class="form-control" id="date" type="date" [(ngModel)]="date">
                </div>
                <div class="col-lg-6">
                    <label for="outlet">Outlet</label>
                    <select class="form-control" id="outlet" [(ngModel)]="outlet">
                        <option [value]="undefined">Select Outlet</option>
                        <option *ngFor="let outlet of menuData.outlet" [value]="outlet.outletid">{{ outlet.outletname }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="stock-entry-content">
            <div class="row">
                <div class="col-lg-5">
                    <div class="col-header">
                        <h2>Items</h2>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <input type="text"
                                     placeholder="Search Item"
                                     aria-label="Number"
                                     matInput
                                     [formControl]="myControl"
                                     [matAutocomplete]="auto" />
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let menu of filteredOptions | async; let i=index" [value]="menu.itemname" (click)="addItemToOrder(i)">
                                  {{menu.itemname}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-content">
                        <mat-expansion-panel *ngFor="let category of categories">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ category }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-selection-list [multiple]="false">
                                <mat-list-option *ngFor="let item of categorisedData[category]; let i=index" (click)="addItemToOrderFromCatData(category, i)">
                                    <div class="item-details">
                                        <p>{{ item.itemname }}</p>
                                        <p> &#8377; {{ item.price }}</p>
                                    </div>
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-expansion-panel>
                    </div>
                </div>
                <div class="col-lg-7">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Amount</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of orderData; let i=index">
                                <th scope="col">{{ data.itemname }}</th>
                                <th scope="col"><input class="form-control" type="number" [(ngModel)]="data.qty" (keyup)="billCalculatorHandler(i)"></th>
                                <th scope="col">&#8377; {{ data.price }}</th>
                                <th scope="col">&#8377; {{ data.amount }}</th>
                                <th scope="col">
                                    <button mat-fab color="primary" aria-label="icon-delete" (click)="billItemRemoveHandler(i)" >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </th>
                            </tr>
                            <tr style="background-color: #343a40;color: white;">
                                <th scope="col">Discount <input type="checkbox" name="discount" [(ngModel)]="discount.active" (click)="findGrandTotalHandler()"></th>
                                <th scope="col">
                                    <select class="form-control" [(ngModel)]="discount.discountname" *ngIf="discount.active">
                                        <option [value]="null">Discount</option>
                                        <option *ngFor="let item of menuData.discount" [value]="item.discountid">{{ item.discountname }}</option>
                                    </select>
                                </th>
                                <th scope="col"><input class="form-control" type="number" [(ngModel)]="discount.discountvalue" (keyup)="discountCalculateHandler()" *ngIf="discount.active"></th>
                                <th scope="col"><p>{{ totalAmount }}</p></th>
                                <th scope="col"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="alert" *ngIf="alertActive">
        <app-alert [msg]="alertMsg" [status]="alertStatus"></app-alert>
    </div>
</div>

