<div class="container">
    <h1 class="title">Order</h1>
    <div class="stock-entry-wrap mat-elevation-z8">
        <div class="stock-entry-controller">
            <div class="row">
                <div class="col-lg-6">
                    <label for="date">Date</label>
                    <input class="form-control" id="date" type="date" [(ngModel)]="date">
                </div>
                <div class="col-lg-6">
                    <label for="outlet">Outlet</label>
                    <select class="form-control" id="outlet" [(ngModel)]="outlet">
                        <option [value]="undefined">Select Outlet</option>
                        <option *ngFor="let outlet of menuData.outlet" [value]="outlet.outletid">{{ outlet.outletname }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="stock-entry-content">
            <div class="row">
                <div class="col-lg-5">
                    <div class="col-header">
                        <h2>Items</h2>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <input type="text"
                                     placeholder="Search Item"
                                     aria-label="Number"
                                     matInput
                                     [formControl]="myControl"
                                     [matAutocomplete]="auto" />
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let menu of filteredOptions | async; let i=index" [value]="menu.itemname" (click)="addItemToOrder(i)">
                                  {{menu.itemname}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-content">
                        <mat-expansion-panel *ngFor="let category of categories">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ category }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-selection-list [multiple]="false">
                                <mat-list-option *ngFor="let item of categorisedData[category]; let i=index" (click)="addItemToOrderFromCatData(category, i)">
                                    <div class="item-details">
                                        <p>{{ item.itemname }}</p>
                                        <p> &#8377; {{ item.price }}</p>
                                    </div>
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-expansion-panel>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="loader" *ngIf="updatingBill">
                        <app-spinner></app-spinner>
                    </div>
                    <table class="table table-dark" *ngIf="orderData.length > 0 && !updatingBill && !showDiscountTab">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Amount</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of orderData; let i=index">
                                <th scope="col">{{ data.itemname }}</th>
                                <th scope="col">
                                    <input class="form-control" type="number" [(ngModel)]="data.qty" (change)="billCalculatorHandler(i)" (keyup)="billCalculatorHandler(i)">
                                </th>
                                <th scope="col">&#8377; {{ data.price }}</th>
                                <th scope="col">&#8377; {{ data.amount }}</th>
                                <th scope="col">
                                    <button mat-fab color="primary" aria-label="icon-delete" (click)="billItemRemoveHandler(i)" >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Gross Amount</th>
                                <th scope="col">&#8377; {{ grossAmount }}</th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="showDiscountTab = true">
                                        Discount
                                    </button></th>
                                <th scope="col"><p>&#8377; {{ discountValue }}</p></th>
                                <th scope="col">
                                    <button mat-fab color="primary" aria-label="icon-delete" (click)="resetDiscount()">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Taxable Amount</th>
                                <th scope="col">&#8377; {{ taxableAmount }}</th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">GST(5%)</th>
                                <th scope="col">&#8377; {{ gstAmount }}</th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Net Amount</th>
                                <th scope="col">&#8377; {{ totalAmount }}</th>
                                <th scope="col"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-submit">
                <button class="btn btn-success" (click)="itemOrderHandler()" [disabled]="outlet === undefined || totalAmount === 0">Order</button>
            </div>
        </div>
    </div>
    <div class="alert" *ngIf="alertActive">
        <app-alert [msg]="alertMsg" [status]="alertStatus"></app-alert>
    </div>
</div>

<div class="model" *ngIf="showDiscountTab">
    <table class="table table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Discount Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of menuData.discount">
                <th scope="col"></th>
                <th scope="col">{{ item.discountname }}</th>
                <th scope="col">
                    <input class="form-control" type="number" placeholder="Amount" [(ngModel)]="item.value" 
                            (keyup)="discountCalculateHandler()" (change)="discountCalculateHandler()" >
                </th>
            </tr>
            <tr *ngFor="let item of customDiscount; let i = index">
                <th scope="col">
                    <button mat-fab color="primary" aria-label="icon-delete" (click)="removeCustomDiscountHandler(i)" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </th>
                <th scope="col">
                    <input class="form-control" type="text" placeholder="Discount type" [(ngModel)]="item.discountName" >
                </th>
                <th scope="col">
                    <input class="form-control" type="number" placeholder="Amount" [(ngModel)]="item.value" 
                            (keyup)="discountCalculateHandler()" (change)="discountCalculateHandler()">
                </th>
            </tr>
            <tr>
                <th></th>
                <th>Total Discount</th>
                <th> &#8377; {{ discountValue }}</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addCustomDiscountHandler()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </th>
                <th><button class="btn btn-sm btn-danger" (click)="showDiscountTab = false">Close</button></th>
            </tr>
        </tbody>
    </table>
</div >
<div class="backdrop" *ngIf="showDiscountTab" (click)="showDiscountTab = false"></div>

