<div class="container">
    <h1 class="title">Payment Entry</h1>
    <div class="stock-entry-wrap mat-elevation-z8">
        <div class="stock-entry-controller" *ngIf="updatingBill">
            <app-spinner></app-spinner>
        </div>
        <div class="stock-entry-controller" *ngIf="!updatingBill">
            <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="date">
            </div>
            <div class="form-group">
                <label for="supplier">Supplier</label>
                <select id="supplier" class="form-control" [(ngModel)]="supplier">
                    <option [value]="undefined">Select Supplier</option>
                    <option *ngFor="let supplier of paymentData.Supplier" [value]="supplier.SupplierID">{{ supplier.SupplierName }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" placeholder="Amount" [(ngModel)]="amount">
            </div>
            <div class="form-group">
                <label for="payment-method">Payment Method</label>
                <select id="payment-method" class="form-control" [(ngModel)]="paymentMethod">
                    <option *ngFor="let payment of paymentData.Paymethod" [value]="payment.PayMethodID">{{ payment.PayMethodName }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="supplier === undefined || amount === undefined" (click)="paymentEntryHandler()">Done</button>
        </div>
    </div>
    <div class="alert" *ngIf="alertActive">
        <app-alert [msg]="alertMsg" [status]="alertStatus"></app-alert>
    </div>
</div>

