<mat-toolbar color="primary" style="min-height: 50px !important; height: 50px !important;">
  <mat-toolbar-row>
    <h1 class="toolbar-heading">
      <a [routerLink]="'/home'" [routerLinkActive]="['active']" >Restaurant</a>
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer mode='side' opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/stock-entry'" [routerLinkActive]="['active']">Stock Entry</a>
      <a mat-list-item [routerLink]="'/bill-entry'" [routerLinkActive]="['active']">Bill Entry</a>
      <a mat-list-item [routerLink]="'/outlet-transfer'" [routerLinkActive]="['active']">Outlet Transfer</a>
      <a mat-list-item [routerLink]="'/tolly'" [routerLinkActive]="['active']">Tolly Order</a>
      <a mat-list-item [routerLink]="'/hazra'" [routerLinkActive]="['active']">Hazra Order</a>
      <a mat-list-item [routerLink]="'/payment'" [routerLinkActive]="['active']">Payment</a>
      <a mat-list-item [routerLink]="'/cash-transfer'" [routerLinkActive]="['active']">Cash Transfer</a>
      <a mat-list-item [routerLink]="'/add-item'" [routerLinkActive]="['active']">Add Item</a>
      <a mat-list-item [routerLink]="'/add-menu-item'" [routerLinkActive]="['active']">Add Menu Item</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 33rem;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>