.mat-drawer-container {
    height: 92vh;
    background-color: white;
}

.toolbar-heading a {
    text-decoration: none;
    color: white;
}

.mat-drawer {
    background-color: #289944;
    min-width: 130px;
} 

.mat-drawer-side {
    border-right: none;
}

.mat-nav-list {
    width: 100%;
    background-color: #289944;
}

.mat-toolbar-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-list-base {
    padding: 0 !important;
}

.mat-list-item {
    color: white;
    font-weight: bolder;
}

.mat-list-item:hover {
    background-color: white;
    color: #289944;
}

.mat-list-item.active {
    background-color: white;
    color: #4caf50;
} 