.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.stock-entry-wrap {
    width: 85%;
}

.stock-entry-controller, 
.stock-entry-content {
    margin: 40px;
}

.stock-entry-content {
    display: flex;
    justify-content: center;
}

.stock-entry-controller .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-entry-controller .row .col-lg-4 {
    max-width: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
select {
    margin: 5px;
    min-width: 200px;
    max-width: 200px;
}

.btn-wrap {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 0;
    min-width: 30%;
}

.loader {
    display: flex;
    justify-content: center;
}

.table {
    margin-top: 30px;
    width: 90%;
}

.cell {
    padding: 0.5px !important;
    vertical-align: middle;
}